$rank-size: 32px;
$rank-position-right: 10px;
$rank-font-size: 16px;
$title-font-size: 20px;
$info-font-size: 18px;

.card {
  position: relative;
  text-align: center;

  &__image {
    display: flex;
    max-width: 100%;
    height: auto;
    border-radius: $column-width / 2;
  }

  &__rank {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: $column-width / 2;
    right: $rank-position-right;
    transform: translateY(-50%);

    width: $rank-size;
    height: $rank-size;

    color: var(--accent);
    font-weight: 700;
    font-size: $rank-font-size;

    z-index: 1;

    &::before {
      content: '';

      display: block;
      width: 100%;
      height: 100%;

      position: absolute;
      top: 0;
      left: 0;

      background-color: var(--white);
      border-radius: 50%;

      z-index: -1;
    }
  }

  &__title {
    display: inline-block;
    margin-top: 8px;

    font-weight: 700;
    font-size: $title-font-size;
    color: var(--primary);
  }

  &__info {
    position: absolute;
    bottom: -30px;
    left: 0;
    right: 0;

    opacity: 0;
    font-size: $info-font-size;
    text-align: center;
  }

  &__info--name {

    &::after {
      content: ',';
      display: inline;
    }
  }

  &__info--value {

    &::before {
      content: '$';
      display: inline;
    }
    &::after {
      content: 'M';
      display: inline;
    }
  }

  &:hover {
    .card__info {
      opacity: 1;
    }
  }
}