$gap: 40px 30px;

.rating {
  --columns: 1;

  &__list {
    display: grid;
    grid-template-columns: repeat(var(--columns), $column-width);
    justify-content: center;
    gap: $gap;

    @include sm-and-up {
      --columns: 2;
    }

    @include md-and-up {
      --columns: 4;
    }
  }
}